.wc_strike_payment .wc_strike_payment_payment_request {
	font-size: 12px;
}

.wc_strike_textbreak {
	word-break: break-all;
}
.wc_strike_walletslist {
	margin-top: 5px;
	font-weight: normal;
	font-size: 1em;
	text-transform: none;
}